* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgray;
}

header {
    background-color: #3298dc;
    color: white;
}

.top-header {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.logo {
    height: 52px;
    padding: 12px;
}

.logo .logo-image {
    display: block;
    height: 100%;
}

.nav {
    display: flex;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-bottom: 1px solid white;
}

.nav-item.active a {
    border-color: darkblue;
}

.bottom-header {
    text-align: center;
    padding: 150px 0;
    width: 1000px;
    margin: auto;
}

.bottom-header h1 {
    margin: 10px 0;
}

.bottom-header p {
    margin: 5px 0;
}

.banner {
    background-color: white;
    padding: 22px;
    text-align: center;
    margin-bottom: 24px;
}

.banner p {
    margin: 0;
}

.card-container {
    width: 1024px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 500px;
    align-items: flex-start;
}

.card {
    /* width: calc((100% - 48px) / 3); */
    background-color: white;
    flex-grow: 1;
    margin: 12px;
    padding: 20px;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
