html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    height: 150px;
    background-color: blue;
}

.container {
    display: flex;
    flex-grow: 1;
}

aside {
    width: 300px;
    background-color: red;
}

main {
    flex-grow: 1;
    background-color: yellow;
}

footer {
    height: 150px;
    background-color: blue;
}
